
.container {
    width: 300px;
    height: 450px;
    background-color: black;
    transition: 1s;
}
.container:hover {
    width: 320px;
    height: 470px;
}



.title{
    width: 100%;
    height: 40px;
    color:#fff;
    background-color: rgba(19,19,19,.7);
    /* position: absolute; */
    text-align: center;
}
