/* .segment{
    display:flex;
    width: 200px;
    height: 250px
} */

.container {
    width: 250px;
    height: 370px;
    background-color: black;
    transition: 1s;
}

.container:hover > img{
    height:310px;
    width:260px;
    margin-top:-5px;
    margin-left:-5px;
    transition:1s;
}
.container:hover {
    width:260px;
}

img{
    width: 250px;
    height: 300px;
    margin-right:5px;
    transition:1s;
}

.title{
    color:white;
    display:block;
}