.upper {
    display: flex;
    justify-content: space-around;
}

.season_image {
    margin: 20px 20px;
    padding:5px;
    border-style: groove;
    border-color: aliceblue;
    border-width: 10px;
    width: 300px;
    height: 450px;
}

.description {
    height:fit-content;
    max-width: 900px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.button {
    height: 70px;
    min-width: 70px;
    width:fit-content;
    /* background-color: blue; */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-width: 10px;
    color: aliceblue;
    border-style: groove;
    border-color: aliceblue;
    transition: 1s;
}
.button:hover{
    height: 75px;
    min-width: 75px;
    background-color: red;
}
.blog{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.video {
    border-style: groove;
    border-color: aliceblue;
    border-width: 10px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-top: 5px;
    width:80%;
    height: 576px;
}
h1{
    color:#fff;
    font-size: 20px;
}
p{
    color:#fff;
    font-size: 20px;
}