.menu{
    width: 100%;
    height: 110px;
    display: flex;
    background: #000;
    justify-content: space-around;
    align-items: center;

}
.logo{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;   
}
.logo:hover{
    text-decoration: underline rgb(255, 255, 255) 5px;
}
.menu1{
    display: flex;
    justify-content: space-between;
    width: 450px;
    align-items: center;
}
.menu-li{
    list-style-type:none ;
}
.link{
    position: absolute;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline  rgb(255, 255, 255) 5px;
}